@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color-primario: #007bbf;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: url(/image/fondo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

input::placeholder{
    color: #fff;
}

/*TODO EL DIV*/
.container{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 30px 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    color: #fff;
}

/*EL TITULO*/
.form-login h2{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.input-group{
    margin-bottom: 15px;
}

.input-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 13px;
    font-size: 16px;

}

/*INPUT TRANSPARENTE*/

.input-group input{

    background-color: rgba(255, 255, 255, 0.10);

}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.options a{
    color: #fff;
    text-decoration: none;
    }

.options a:hover{
    text-decoration: underline;
}

.options input{
    cursor: pointer;
}

.btn{
    width: 100%;
    background-color: var(--color-primario);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #0056b3;
}

.register-link{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a{
    text-decoration: none;
    color: #fff;
}

.register-link a:hover{
    text-decoration: underline;

}

@media (max-width: 480px){

    .container{
        padding: 20px;
    }
}