@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*TODO EL DIV*/
.container{
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

/*EL TITULO*/
.form-login h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group{
    margin-bottom: 15px;
}

.input-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 16px;

}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.options a{
    color: #007bbf;
    text-decoration: none;
    }

.options a:hover{
    text-decoration: underline;
}

